* text eol=lf
*.PNG binary
*.JPG binary
*.GIF binary
*.PDF binary
*.PPTX binary
*.ZIP binary
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.ppt binary
*.pptx binary
*.zip binary
*.PNG binary
*.JPG binary
*.GIF binary
*.PDF binary
*.PPTX binary
*.ZIP binary
*.key binary
*.kth binary
