{% extends "base.html" %}

{% block title %}John DeNero{% endblock %}

{% block content %}

<p>Assistant Teaching Professor in the <a
href="http://www.eecs.berkeley.edu">UC Berkeley EECS department</a>

<p>Email: <span class="rev">ude.yelekreb@orened</span>

<h4>Where and When</h4>

<p>Spring 2016 Lecture Schedule</p>
<ul>
    <li><a href="http://data8.org">Data 8</a> Monday, Wednesday, Friday at 10am in 155 Dwinelle
    <li><a href="http://inst.eecs.berkeley.edu/~cs195">CS 195</a> Monday 4pm-5:30pm in 105 Stanley
</ul>

<p>Fall 2015 Office Hours</p>
<ul>
    <li>11am-12pm Monday in 781 Soda
    <li>10am-11am Thursday in 781 Soda (often with a
    <a href="http://38.media.tumblr.com/55f9f1b1f87d376a2a958e33b5be8e6d/tumblr_inline_ml83kk7nbh1rh8d4c.png">dog</a>)
    <li><a href="http://denero.org/meet">Appointments</a> in 781 Soda.
</ul>

<h4>What and How</h4>

<p>Research
<ul>
    <li><a href="pages/publications.html">Publications</a>
    <li><a href="http://oscii.org">Oscii Lab</a>
</ul>

<p>Teaching
<ul>
    <li><a href="pages/teaching.html">Past and Current Courses</a>
    <li><a href="http://www.youtube.com/channel/UClPkNCC1Gd_cyI7QTe7lJwA">YouTube
channel</a>
    <li><a href="http://composingprograms.com">Composing Programs</a>: a free online
textbook for introductory computer science.
    <li><a href="http://inferentialthinking.com">Computational and Inferential Thinking</a>: a free online
textbook for introductory data science.
    <li>The <a
href="http://inst.eecs.berkeley.edu/~cs188/pacman/project_overview.html">
Pac-Man projects</a> for teaching artificial intelligence.
    <li><a href="http://databears.berkeley.edu">Data Science Education</a> at Berkeley
</ul>

<p>From 2010-2014, I was a <a
href="http://research.google.com/pubs/author38952.html">research
scientist at Google</a> working primarily on <a
href="http://translate.google.com">Google Translate</a> and <a
href="http://research.google.com/pubs/NaturalLanguageProcessing.html">natural
language processing</a>.

{% endblock %}
