{% extends "base.html" %}

{% block title %}John DeNero{% endblock %}

{% block content %}

<p>Assistant Teaching Professor in the <a
href="http://www.eecs.berkeley.edu">UC Berkeley EECS department</a>

<h4>Where and When</h4>

<p>Fall 2015 Lecture Schedule</p>
<ul>
    <li><a href="https://cs61a.org">CS 61A</a> Monday, Wednesday, Friday at 2pm-3pm in Wheeler Auditorium
    <li><a href="https://inst.eecs.berkeley.edu/~cs195">CS 195</a> Wednesday 5pm-6pm in 10 Evans
    <li><a href="https://cs61a.org/extra.html">CS 61A Additional Topics</a> Monday 6:30pm-8pm in A1 Hearst Annex
</ul>

<p>Fall 2015 Office Hours</p>
<ul>
    <li>3pm-4pm Monday in 781 Soda (no dog; to meet right at 3pm, find me after lecture in Wheeler)
    <li>10am-11am Wednesday in 781 Soda (often with a
    <a href="http://38.media.tumblr.com/55f9f1b1f87d376a2a958e33b5be8e6d/tumblr_inline_ml83kk7nbh1rh8d4c.png">dog</a>)
    <li>Friday <a href="http://denero.org/meet">by appointment only</a> in 781 Soda.
</ul>

<h4>What and How</h4>

<p>Research
<ul>
    <li><a href="pages/publications.html">Publications</a>
    <li><a href="http://oscii.org">Oscii Lab</a>
</ul>

<p>Teaching
<ul>
    <li><a href="pages/publications.html">Past and Current Courses</a>
    <li><a href="http://www.youtube.com/channel/UClPkNCC1Gd_cyI7QTe7lJwA">YouTube
channel</a>
    <li><a href="http://composingprograms.com">Composing Programs</a>: a free online
textbook for introductory computer science.
    <li>The <a
href="http://inst.eecs.berkeley.edu/~cs188/pacman/project_overview.html">
Pac-Man projects</a> for teaching artificial intelligence.
</ul>

<p>From 2010-2014, I was a <a
href="http://research.google.com/pubs/author38952.html">research
scientist at Google</a> working primarily on <a
href="http://translate.google.com">Google Translate</a> and <a
href="http://research.google.com/pubs/NaturalLanguageProcessing.html">natural
language processing</a>.

{% endblock %}
