{% extends "base.html" %}

{% block title %}John DeNero{% endblock %}

{% block content %}

<p>In August 2014, I joined the faculty of the <a
href="http://www.eecs.berkeley.edu">UC Berkeley EECS department</a> to focus on
<a href="pages/teaching.html">teaching</a>.

<p>From 2010-2014, I was a <a
href="http://research.google.com/pubs/author38952.html">research
scientist at Google</a> working primarily on <a
href="http://translate.google.com">Google Translate</a> and <a
href="http://research.google.com/pubs/NaturalLanguageProcessing.html">natural
language processing</a>.

<h4>Links</h4>

<p>My <a href="pages/publications.html">publications</a>, <a
href="http://www.youtube.com/channel/UClPkNCC1Gd_cyI7QTe7lJwA">YouTube
channel</a> and <a href="content/cv/denero-cv.pdf">CV</a>.

<p><a href="http://composingprograms.com">Composing Programs</a>: a free online
textbook for introductory computer science.

<p>The <a
href="http://inst.eecs.berkeley.edu/~cs188/pacman/project_overview.html">
Pac-Man projects</a> for teaching artificial intelligence.

{% endblock %}
