{% extends "top_level.html" %}

{% block title %}Composing Programs{% endblock %}

{% block content %}
	<p>Welcome to <a href="http://www.composingprograms.com">Composing Programs</a>, a free online introduction to programming and computer science.

	<p>In the tradition of <a href="http://mitpress.mit.edu/sicp/">SICP</a>, this text focuses on methods for abstraction, programming paradigms, and techniques for managing the complexity of large programs.  These concepts are illustrated primarily using the <a href="http://www.python.org">Python 3</a> programming language.

	<p>In addition to reading the chapters below, you can apply your knowledge to the <a href="projects.html">programming projects</a> that accompany the text and visualize program execution using the <a href="http://tutor.composingprograms.com/">Online Python Tutor</a>.

	{% for p in PAGES %}
		{% if p.chapter_title %}
			<h3>{{ p.chapter_title }}</h3>
		{% endif %}
    <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
{% endblock %}
